.label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}

@media (min-width: 600px) {
    .label {
        flex-wrap: nowrap;
    }
}

.labelText {
    font-size: 0.8rem;
    width: 100%;
}

@media (min-width: 600px) {
    .labelText {
        width: 6rem;
    }
}

.input {
    background-color: var(--body);
    border: 2px solid var(--text-default);
    color: var(--text-default);
    padding: 0.25rem 0.5rem;
    width: 100%;
}
