.toolbar {
    background-color: var(--text-color, black);
    color: var(--background-color, white);
    padding: 1em;
}

.bars {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
    margin-bottom: 0.5em;
}

.selectedBar {
    font-weight: bold;
}

.developerModeSplit {
    flex-grow: 1;
}

.developerModeToggleBar {
    text-align: end;
}