.base {
    font-size: 0.8333rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 1.5;
    cursor: pointer;
}
.base:disabled {
    cursor: not-allowed;
}

.button {
    background-color: var(--text-color, black);
    border: solid 1px var(--background-color, white);
    color: var(--background-color, white);
    display: inline-block;
    min-height: 2.5rem;
    padding: 0.25rem 0.5rem;
}
.button:hover,
.button:focus {
    color: var(--grey-color, #cccccc);
}
.button:disabled {
    background-color: var(--body-off-color);
    color: var(--background-color);
}

.link {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--link-color, #3a7ca5);
    text-decoration: none;
    display: inline;
}

.primaryButton {
    background-color: var(--link-color);
    border: solid 1px var(--link-color);
    color: var(--body, white);
    display: inline-block;
    min-height: 2.5rem;
    padding: 0.5rem;
}
.primaryButton:hover,
.primaryButton:focus {
    background-color: var(--link-variant-color);
    border-color: var(--link-variant-color);
}

.fieldButton {
    background-color: var(--text-color, black);
    border: solid 1px var(--background-color, white);
    color: var(--background-color, white);
    display: inline-block;
    min-height: 1.5rem;
    padding: 0.25rem;
}

.halfShadow {
    box-shadow: 3px 3px 7px #c3c3c3, 4px 4px 8px rgba(189,189,189,0.6);
}
@media (prefers-color-scheme: light) {
    .halfShadow {
        box-shadow: 3px 3px 7px #c3c3c3, 4px 4px 8px rgba(189,189,189,0.6);
    }
}
@media (prefers-color-scheme: dark) {
    .halfShadow {
        box-shadow: -4px -2px 4px 0px rgba(255,255,255,0.05), 4px 2px 6px 0px rgba(0,0,0,0.5);
    }
}

.fullShadow {
    box-shadow: 7px 7px 15px #c3c3c3, 9px 9px 16px rgba(189,189,189,0.6);
}
@media (prefers-color-scheme: light) {
    .fullShadow {
        box-shadow: 7px 7px 15px #c3c3c3, 9px 9px 16px rgba(189,189,189,0.6);
    }
}
@media (prefers-color-scheme: dark) {
    .fullShadow {
        box-shadow: -8px -4px 8px 0px rgba(255,255,255,0.05), 8px 4px 12px 0px rgba(0,0,0,0.5);
    }
}
