.header {
    background-color: var(--text-color, black);
    color: var(--background-color, white);
}

.headerContent {
    display: flex;
    align-items: center;
}

a.appName {
    color: var(--background-color, white);
    flex-grow: 1;
}
a.appName:focus,
a.appName:hover {
    color: var(--background-color, white);
}
